.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintrc
.github
.idea
.nvmrc
.vscode
*.lockb
bundler.config.js
CHANGELOG.md
coverage/
docs/
jest.config.json
node_modules/
source/
tests/
tsconfig.tsbuildinfo
*.tgz