.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.github/
.idea/
.nvmrc
.vscode/
*.tgz
bun.lockb
bundler.config.ts
CHANGELOG.md
coverage/
docs/
eslint.config.js
jest.config.json
node_modules/
package-lock.json
pnpm-lock.yaml
README.md
source/
tests/
tsconfig.json
tsconfig.tsbuildinfo
