# === Configuration and system files ===
.github/
.idea/
.env*
.nvmrc
.vscode/

# === Archives and build-related files ===
*.tgz

# === Bundler configuration files ===
bundler.ts
CHANGELOG.md

# === Documentation-related folders ===
coverage/
docs/

# === Tool configuration files ===
eslint.config.js
jest.config.json

# === Dependency-related folders and files ===
node_modules/
package-lock.json
yarn.lock
bun.lock
pnpm-lock.yaml

# === Project-specific folders ===
source/
test/

# === Core project files ===
README.md
tsconfig.json
tsconfig.dts.json
translate.json
