name: Generate docs and deploy to gh-pages
run-name:  Generate docs and deploy to gh-pages
on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.3.0

      - name: Install Dependencies
        run: npm install
  
      - name: Generate Docs
        run: npm run docs

      - name: Upload Coverage
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.ANDESITE_TOKEN }}
          publish_dir: ./docs